*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* inizio nav */

nav{
    background-color:#3161E0;
    text-align: center;
    height: 100px;
    
    margin: auto;
}
    
#menu nav li {
    display: inline-block;
    text-decoration: none;
}
    
#menu nav li a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    line-height: 100px;
}

.imglogo{
   vertical-align: middle;
    margin-right:200px;
    line-height: 100px;
}
  
    
.nav-button{
    background-color: white;
    border-radius: 40%;
    border-style: none;
    color: black;
    text-decoration: none;
    margin-left: 200px;
    padding: 10px;
    
}
    

/* fine nav */


/* inizio jumbotron */
    
   .jumbotron{
       height: 500px;
       background-image: url(../img/jumbo.png);
       background-size: cover;
       color: white;
       
       
   }

   .jumbotron div{
       width: 40%;
       text-align: center;
       margin: auto;
       font-size: 20px;
   }

   .jumbotron div li,a{
       display: inline-block;
       text-decoration: none;
   }
    
   #jumbobutton1{
       color: black;
       background-color: white;
       padding: 20px;
       border-radius: 30%;
       margin-right: 30px;
   }


    

    
    
    
    

    
    
    
    
    
    
    
